body {
  font-family: sans-serif;
}

a {
  color: #0377fc;
  text-decoration: none;
}

h1{
  margin: 0.2rem 0;
}

button {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
}

input {
  width: 100%;
  padding: 0.4rem;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 5px;
}

table {
  margin: 2rem 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 0.4rem;
}

.styled-table thead tr, .styled-table tbody tr:nth-child(even) {
  background: #f3f4f6;
}

.field {
  margin: 1.5rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 2rem;
  text-align: left;
}
