<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <title>Script Server</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <div class="container">
    <h1>Script Server</h1>
    <a href="/">Back</a>
    <table>
      <tbody>
        <tr>
          <th>Script</th>
          <th>{{ script.name }}</th>
        </tr>
        <tr>
          <th>Interval</th>
          <th>{{ script.interval }}</th>
        </tr>
        <tr>
          <th>Location</th>
          <th>scripts/{{ script.name }}</th>
        </tr>
      </tbody>
    </table>
    
  </div>
</body>
</html>
